* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #815e5e;
}

nav {
    background: #ff0000;
}

ul {
    list-style: none;
    display: flex;
}

        /* Menú principal */
nav > ul > li {
    position: relative;
}

nav > ul > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s;
}

nav > ul > li > a:hover {
    background: #c8d124;
}

/* Submenú */
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #923b38;
    min-width: 200px;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.submenu li {
    width: 100%;
}

.submenu li a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s;
}
.submenu li a:hover {
    background: #d6cf67;
}
/* Mostrar submenú al pasar el ratón */
nav > ul > li:hover .submenu {
    display: block;
}
.main {
    text-align: center;
}
.main img{
    height: 25%;
    width: 25%;
}
.main img:hover{
    height: 100%;
    width: 30%;
}
.contactoMain{
    height: 100vh;
    width: 100%;
}
.contacto{
    height: 33%;
    width: 50%;
}
.contacto img {
    height: 100%;
    width: 30%;
}
#contacto3 {
    height: 10%;
    width: 50%;
}
#contacto2{
    height: 20%;
    width: 30%;
}
#contacto1{
    height: 33%;
    width: 50%;
}
.tituloTexto{
    color: aquamarine;
    text-align: center;
}
.tituloDos{
    color: purple;
    text-align: end;
}
.subtitulos{
    color: peru;
    text-align: start;
}
.colorAzulTablita{
    background-color: aqua;
}
.marginYPadding tr{
    padding: 10px;
    margin: 10px;
}
.bordesTablita th{
    border: 10px;
    border-width: 10px;
    border-color: black;
}