* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #701010;
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
}
main{
    height: 60vh;
    background-color: aqua;
    width: 100%;
}
.imgNav{
    width: 30%;
    height: 100%;
}

.imgNav img{
    width: 40%;
    height: 100%;
}

header h2{
    align-content: center;
    width: 35%;
    color: rgb(255, 255, 255);
}

nav {
    background-color: #701010;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100%;
    width: 35%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
    border-radius: 4px;
}

.listaActividades{
    background-color: blue;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parrafoDestacadas{
    width: 100%;
    background-color: aqua;
}
.contenedorListas{
    background-color: #701010;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.listaDestacada{
    background-color: azure;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.listaDestacada li{
    padding: 10%;
}
.textoDescriptivo li{
    padding: 2%;
}
.textoDescriptivo{
    background-color: aquamarine;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
footer{
    height: 30vh;
    width: 100%;
}
footer p{
    padding: 1%;
}
.footerTexto{
    background-color: #701010;
    height: 100%;
    width: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.talleresContenido{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.contenedorImagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: green;
}
.imagenes{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.imagenes img{
    width: 33%;
    height: 60%;
}
.experimentosLista{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color:darkgreen;
}
.experimentosLista ul{
    padding: 2%;
}
#horarioMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.tablaHorario {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-width: 2%;
    border: #000000;
}
th{
    background-color: green;
}
td{
    background-color: aqua;
}
#hoverParrafo a:hover{
    background-color: #495;
    border-radius: 4px;
}